/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online/Knowledge Base/ */

:root
{
	--Dark: #45494C;
	--Darkest: #000000;
	--Light: #DADEE1;
	--Lightest: #FFFFFF;
	--Medium: #A4AAAE;
	--HeroImage: url('../Images/Hero-Image.png');
	--Primary: #bc1414;
	--Secondary: #f697a0;
	--FontFamily: Tahoma;
	--LogoImage: url('../Images/OHVA Logo.png');
}

